@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face{
    font-family: myFont;
    src: url(Ailerons-Typeface.otf);
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

header{
    background-color: rgb(230, 230, 230);
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem 0 4rem;
}

.logo img{
    width: 200px;
}

.menu{
    display: flex;
    gap: 3rem;
}

.menu a {
    color: black;
    position: relative;
    font-weight: 500;
    text-decoration: none; /* Elimina el subrayado predeterminado */
}

.menu a::after {
    content: "";
    position: absolute;
    background-color: #000000;
    height: 2px;
    width: 0; 
    left: 0;
    bottom: -5px; 
    transition: width 0.3s ease; 
    border-radius: 10px;
}

.menu a:hover::after,
.menu a.activep::after {
    width: 100%; 
}

.about{
    width: 100%;
    z-index: 2;
    margin-top: 1rem;
}

.about-content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    float: right;
    margin-right: 4rem;
    width: 40%;
}

.about-content p{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 24px;
}

.about-content button{
    width: 250px;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 600;
    padding: 1rem 2rem;
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.bg-img{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.bg-text{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.bg-text h1{
    font-family: "myFont", sans-serif;
    font-size: 350px;
    color: rgba(0, 0, 0, 0.1);
}

.bg-img img{
    width: 1200px;
}

.about-car{
    margin-top: 25rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.9%;
}

.box h1{
    padding-top: 7rem;
    font-size: 128px;
    font-weight: 200;
    display: flex;
}

.box h1 span{
    font-size: 80px;
    font-weight: 100;
}


.box1{
    background-color: rgb(71, 71, 71);
    color: white;
    height: 500px;
}

.box2{
    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
    height: 500px;
}

.box3{
    background-color: rgb(71, 71, 71);
    color: rgb(255, 255, 255);
    height: 500px;
}

main{
    width: 100%;
}

.box-main{
    display: flex;
    color: rgb(0, 0, 0);
}

.box-main-text h2{
    font-size: 32px;
}

.box-main-text p{
    letter-spacing: 1px;
    line-height: 30px;
    padding-top: 1rem;
}

.box-main-text{
    background-color: rgb(230, 230, 230);
    padding: 8rem 5rem 0 5rem;
}

.box-main img{
    width: 50%;
}

footer{
    width: 100%;
    text-align: center;
}

.footer-content{
    padding: 6rem 0;
}

.footer-content button{ 
    border: none;
    padding: 1.5rem 6rem;
    background-color: rgb(230, 230, 230);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.footer-content p{
    padding-top: 1.5rem;
    font-size: 10px;
}

.footer-logo{
    background-color: rgb(230, 230, 230);
}

.footer-logo img{
    width: 150px;
    padding: 1rem 0;
}